.table-container {
  height: calc(100vh - 190px);
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.table-container thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

.table-container tbody {
  display: block;
  overflow-y: auto;
  height: calc(100vh - 250px);
}

.table-container thead,
.table-container tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
