<div *ngIf="!selectedProduct">
  <div class="container mt-5">
    <h2 class="text-center">Product List</h2>
  </div>

  <div class="container mt-4">
    <div
      class="mb-3 d-flex justify-content-between align-items-center gap-2 flex-wrap"
    >
      <div class="d-flex gap-2 align-items-center">
        <select
          class="form-select form-select-sm"
          style="width: 200px"
          [(ngModel)]="selectedCategory"
          (change)="filteredProducts()"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>

        <input
          type="text"
          class="form-control form-control-sm"
          style="width: 250px"
          placeholder="Search by title..."
          [(ngModel)]="searchTerm"
          (input)="filteredProducts()"
        />
      </div>

      <button class="btn btn-outline-primary btn-sm" (click)="addProduct()">
        <i class="bi bi-plus-square"></i> Add
      </button>
    </div>

    <div class="table-container">
      <table class="table table-bordered table-hover">
        <thead class="table-light sticky-top">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filteredProducts()">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.description }}</td>
            <td class="d-flex gap-2">
              <button
                class="btn btn-outline-success btn-sm"
                (click)="editProduct(product)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
              <button
                class="btn btn-outline-danger btn-sm"
                (click)="deleteProduct(product.id)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <nav *ngIf="totalPages() > 1" aria-label="Page navigation">
        <ul class="pagination pagination-sm justify-content-end">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a
              class="page-link"
              (click)="changePage(currentPage - 1)"
              aria-label="Previous"
            >
              &laquo;
            </a>
          </li>

          <li
            class="page-item"
            *ngFor="let page of [].constructor(totalPages()); let i = index"
            [class.active]="i + 1 === currentPage"
          >
            <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
          </li>

          <li class="page-item" [class.disabled]="currentPage === totalPages()">
            <a
              class="page-link"
              (click)="changePage(currentPage + 1)"
              aria-label="Next"
            >
              &raquo;
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<div class="container mt-4" *ngIf="selectedProduct">
  <h5>{{ action }} Product</h5>
  <form (ngSubmit)="saveProduct()">
    <div class="mb-2">
      <label>Title</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="selectedProduct.title"
        name="title"
        required
      />
    </div>

    <div class="mb-2">
      <label>Price</label>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="selectedProduct.price"
        name="price"
        required
      />
    </div>

    <div class="mb-2">
      <label>Description</label>
      <textarea
        class="form-control"
        [(ngModel)]="selectedProduct.description"
        name="description"
      ></textarea>
    </div>
    <div class="mb-2">
      <label>Category</label>
      <select
        class="form-select"
        [(ngModel)]="selectedProduct.category"
        name="category"
        required
      >
        <option value="" disabled selected>Select a category</option>
        <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
      </select>
    </div>

    <button class="btn btn-primary btn-sm me-2" type="submit">
      {{ action }}
    </button>
    <button
      class="btn btn-secondary btn-sm"
      type="button"
      (click)="cancelEdit()"
    >
      Cancel
    </button>
  </form>
</div>
